.wrapper {
    background-color: #0e1e35;
    width: 40rem;
    height: 40rem;
    position: absolute;
}

.controller {
    width: 29rem;
    top:50%;
    left: 50%;
    height:12rem;
    transform:translate(-50% ,-50%);
    position: absolute;
}
.pixel {
    width: 1rem;
    height: 1rem;
    box-shadow: 
    /* row 1 */
    0rem 0rem 0 #000,
    1rem 0rem 0 #dedbcc,
    2rem 0rem 0 #dedbcc,
    3rem 0rem 0 #dedbcc,
    4rem 0rem 0 #dedbcc,
    5rem 0rem 0 #dedbcc,
    6rem 0rem 0 #dedbcc,
    7rem 0rem 0 #dedbcc,
    8rem 0rem 0 #dedbcc,
    9rem 0rem 0 #dedbcc,
    10rem 0rem 0 #dedbcc,
    11rem 0rem 0 #dedbcc,
    12rem 0rem 0 #dedbcc,
    13rem 0rem 0 #dedbcc,
    14rem 0rem 0 #dedbcc,
    15rem 0rem 0 #dedbcc,
    16rem 0rem 0 #dedbcc,
    17rem 0rem 0 #dedbcc,
    18rem 0rem 0 #dedbcc,
    19rem 0rem 0 #dedbcc,
    20rem 0rem 0 #dedbcc,
    21rem 0rem 0 #dedbcc,
    22rem 0rem 0 #dedbcc,
    23rem 0rem 0 #dedbcc,
    24rem 0rem 0 #dedbcc,
    25rem 0rem 0 #dedbcc,
    26rem 0rem 0 #dedbcc,
    27rem 0rem 0 #dedbcc,
    28rem 0rem 0 #dedbcc,
    29rem 0rem 0 #0e1e35,
    /* row 2 */
    0rem 1rem 0 #dedbcc,
    1rem 1rem 0 #dedbcc,
    2rem 1rem 0 #dedbcc,
    3rem 1rem 0 #dedbcc,
    4rem 1rem 0 #dedbcc,
    5rem 1rem 0 #dedbcc,
    6rem 1rem 0 #dedbcc,
    7rem 1rem 0 #dedbcc,
    8rem 1rem 0 #dedbcc,
    9rem 1rem 0 #dedbcc,
    10rem 1rem 0 #dedbcc,
    11rem 1rem 0 #dedbcc,
    12rem 1rem 0 #dedbcc,
    13rem 1rem 0 #dedbcc,
    14rem 1rem 0 #dedbcc,
    15rem 1rem 0 #dedbcc,
    16rem 1rem 0 #dedbcc,
    17rem 1rem 0 #dedbcc,
    18rem 1rem 0 #dedbcc,
    19rem 1rem 0 #dedbcc,
    20rem 1rem 0 #dedbcc,
    21rem 1rem 0 #dedbcc,
    22rem 1rem 0 #dedbcc,
    23rem 1rem 0 #dedbcc,
    24rem 1rem 0 #dedbcc,
    25rem 1rem 0 #dedbcc,
    26rem 1rem 0 #dedbcc,
    27rem 1rem 0 #dedbcc,
    28rem 1rem 0 #dedbcc,
    29rem 1rem 0 #dedbcc,
    /* row 3 */
    0rem 2rem 0 #dedbcc,
    1rem 2rem 0 #dedbcc,
    2rem 2rem 0 #000,
    3rem 2rem 0 #000,
    4rem 2rem 0 #000,
    5rem 2rem 0 #000,
    6rem 2rem 0 #000,
    7rem 2rem 0 #000,
    8rem 2rem 0 #000,
    9rem 2rem 0 #000,
    10rem 2rem 0 #000,
    11rem 2rem 0 #000,
    12rem 2rem 0 #707861,
    13rem 2rem 0 #707861,
    14rem 2rem 0 #707861,
    15rem 2rem 0 #707861,
    16rem 2rem 0 #707861,
    17rem 2rem 0 #707861,
    18rem 2rem 0 #707861,
    19rem 2rem 0 #707861,
    20rem 2rem 0 #707861,
    21rem 2rem 0 #000,
    22rem 2rem 0 #000,
    23rem 2rem 0 #000,
    24rem 2rem 0 #000,
    25rem 2rem 0 #000,
    26rem 2rem 0 #000,
    27rem 2rem 0 #000,
    28rem 2rem 0 #dedbcc,
    29rem 2rem 0 #dedbcc,
    /* row 4 */
    0rem 3rem 0 #dedbcc,
    1rem 3rem 0 #000,
    2rem 3rem 0 #000,
    3rem 3rem 0 #000,
    4rem 3rem 0 #000,
    5rem 3rem 0 #000,
    6rem 3rem 0 #000,
    7rem 3rem 0 #000,
    8rem 3rem 0 #000,
    9rem 3rem 0 #000,
    10rem 3rem 0 #000,
    11rem 3rem 0 #000,
    12rem 3rem 0 #707861,
    13rem 3rem 0 #707861,
    14rem 3rem 0 #707861,
    15rem 3rem 0 #707861,
    16rem 3rem 0 #707861,
    17rem 3rem 0 #707861,
    18rem 3rem 0 #707861,
    19rem 3rem 0 #707861,
    20rem 3rem 0 #707861,
    21rem 3rem 0 #000,
    22rem 3rem 0 #000,
    23rem 3rem 0 #000,
    24rem 3rem 0 #000,
    25rem 3rem 0 #000,
    26rem 3rem 0 #000,
    27rem 3rem 0 #000,
    28rem 3rem 0 #000,
    29rem 3rem 0 #dedbcc,
    /* row 5 */
    0rem 4rem 0 #dedbcc,
    1rem 4rem 0 #000,
    2rem 4rem 0 #000,
    3rem 4rem 0 #000,
    4rem 4rem 0 #000,
    5rem 4rem 0 #000,
    6rem 4rem 0 #000,
    7rem 4rem 0 #000,
    8rem 4rem 0 #000,
    9rem 4rem 0 #000,
    10rem 4rem 0 #000,
    11rem 4rem 0 #000,
    12rem 4rem 0 #000,
    13rem 4rem 0 #000,
    14rem 4rem 0 #000,
    15rem 4rem 0 #000,
    16rem 4rem 0 #000,
    17rem 4rem 0 #000,
    18rem 4rem 0 #000,
    19rem 4rem 0 #000,
    20rem 4rem 0 #000,
    21rem 4rem 0 #000,
    22rem 4rem 0 #000,
    23rem 4rem 0 #000,
    24rem 4rem 0 #000,
    25rem 4rem 0 #000,
    26rem 4rem 0 #000,
    27rem 4rem 0 #000,
    28rem 4rem 0 #000,
    29rem 4rem 0 #dedbcc,
    /* row 6 */
    0rem 5rem 0 #dedbcc,
    1rem 5rem 0 #000,
    2rem 5rem 0 #000,
    3rem 5rem 0 #000,
    4rem 5rem 0 #000,
    5rem 5rem 0 #dedbcc,
    6rem 5rem 0 #dedbcc,
    7rem 5rem 0 #dedbcc,
    8rem 5rem 0 #dedbcc,
    9rem 5rem 0 #000,
    10rem 5rem 0 #000,
    11rem 5rem 0 #000,
    12rem 5rem 0 #707861,
    13rem 5rem 0 #707861,
    14rem 5rem 0 #707861,
    15rem 5rem 0 #707861,
    16rem 5rem 0 #707861,
    17rem 5rem 0 #707861,
    18rem 5rem 0 #707861,
    19rem 5rem 0 #707861,
    20rem 5rem 0 #707861,
    21rem 5rem 0 #000,
    22rem 5rem 0 #000,
    23rem 5rem 0 #000,
    24rem 5rem 0 #000,
    25rem 5rem 0 #000,
    26rem 5rem 0 #000,
    27rem 5rem 0 #000,
    28rem 5rem 0 #000,
    29rem 5rem 0 #dedbcc,
    /* row 7 */
    0rem 6rem 0 #dedbcc,
    1rem 6rem 0 #000,
    2rem 6rem 0 #000,
    3rem 6rem 0 #000,
    4rem 6rem 0 #000,
    5rem 6rem 0 #dedbcc,
    6rem 6rem 0 #000,
    7rem 6rem 0 #000,
    8rem 6rem 0 #dedbcc,
    9rem 6rem 0 #000,
    10rem 6rem 0 #000,
    11rem 6rem 0 #000,
    12rem 6rem 0 #707861,
    13rem 6rem 0 #707861,
    14rem 6rem 0 #707861,
    15rem 6rem 0 #707861,
    16rem 6rem 0 #707861,
    17rem 6rem 0 #707861,
    18rem 6rem 0 #707861,
    19rem 6rem 0 #707861,
    20rem 6rem 0 #707861,
    21rem 6rem 0 #000,
    22rem 6rem 0 #000,
    23rem 6rem 0 #000,
    24rem 6rem 0 #000,
    25rem 6rem 0 #000,
    26rem 6rem 0 #000,
    27rem 6rem 0 #000,
    28rem 6rem 0 #000,
    29rem 6rem 0 #dedbcc,
    /* row 8 */
    0rem 7rem 0 #dedbcc,
    1rem 7rem 0 #000,
    2rem 7rem 0 #000,
    3rem 7rem 0 #dedbcc,
    4rem 7rem 0 #dedbcc,
    5rem 7rem 0 #dedbcc,
    6rem 7rem 0 #000,
    7rem 7rem 0 #000,
    8rem 7rem 0 #dedbcc,
    9rem 7rem 0 #dedbcc,
    10rem 7rem 0 #dedbcc,
    11rem 7rem 0 #000,
    12rem 7rem 0 #000,
    13rem 7rem 0 #000,
    14rem 7rem 0 #000,
    15rem 7rem 0 #000,
    16rem 7rem 0 #000,
    17rem 7rem 0 #000,
    18rem 7rem 0 #000,
    19rem 7rem 0 #000,
    20rem 7rem 0 #000,
    21rem 7rem 0 #000,
    22rem 7rem 0 #000,
    23rem 7rem 0 #000,
    24rem 7rem 0 #000,
    25rem 7rem 0 #000,
    26rem 7rem 0 #000,
    27rem 7rem 0 #000,
    28rem 7rem 0 #000,
    29rem 7rem 0 #dedbcc,
    /* row 9 */
    0rem 8rem 0 #dedbcc,
    1rem 8rem 0 #000,
    2rem 8rem 0 #000,
    3rem 8rem 0 #dedbcc,
    4rem 8rem 0 #000,
    5rem 8rem 0 #000,
    6rem 8rem 0 #000,
    7rem 8rem 0 #000,
    8rem 8rem 0 #000,
    9rem 8rem 0 #000,
    10rem 8rem 0 #dedbcc,
    11rem 8rem 0 #000,
    12rem 8rem 0 #707861,
    13rem 8rem 0 #707861,
    14rem 8rem 0 #707861,
    15rem 8rem 0 #707861,
    16rem 8rem 0 #707861,
    17rem 8rem 0 #707861,
    18rem 8rem 0 #707861,
    19rem 8rem 0 #707861,
    20rem 8rem 0 #707861,
    21rem 8rem 0 #000,
    22rem 8rem 0 #000,
    23rem 8rem 0 #000,
    24rem 8rem 0 #000,
    25rem 8rem 0 #000,
    26rem 8rem 0 #000,
    27rem 8rem 0 #000,
    28rem 8rem 0 #000,
    29rem 8rem 0 #dedbcc,
    /* row */
    0rem 9rem 0 #dedbcc,
    1rem 9rem 0 #000,
    2rem 9rem 0 #000,
    3rem 9rem 0 #dedbcc,
    4rem 9rem 0 #000,
    5rem 9rem 0 #000,
    6rem 9rem 0 #000,
    7rem 9rem 0 #000,
    8rem 9rem 0 #000,
    9rem 9rem 0 #000,
    10rem 9rem 0 #dedbcc,
    11rem 9rem 0 #000,
    12rem 9rem 0 #707861,
    13rem 9rem 0 #707861,
    14rem 9rem 0 #707861,
    15rem 9rem 0 #707861,
    16rem 9rem 0 #707861,
    17rem 9rem 0 #707861,
    18rem 9rem 0 #707861,
    19rem 9rem 0 #707861,
    20rem 9rem 0 #707861,
    21rem 9rem 0 #000,
    22rem 9rem 0 #000,
    23rem 9rem 0 #000,
    24rem 9rem 0 #000,
    25rem 9rem 0 #000,
    26rem 9rem 0 #000,
    27rem 9rem 0 #000,
    28rem 9rem 0 #000,
    29rem 9rem 0 #dedbcc,
    /* row 10 */
    0rem 10rem 0 #dedbcc,
    1rem 10rem 0 #000,
    2rem 10rem 0 #000,
    3rem 10rem 0 #dedbcc,
    4rem 10rem 0 #dedbcc,
    5rem 10rem 0 #dedbcc,
    6rem 10rem 0 #000,
    7rem 10rem 0 #000,
    8rem 10rem 0 #dedbcc,
    9rem 10rem 0 #dedbcc,
    10rem 10rem 0 #dedbcc,
    11rem 10rem 0 #000,
    12rem 10rem 0 #000,
    13rem 10rem 0 #000,
    14rem 10rem 0 #000,
    15rem 10rem 0 #000,
    16rem 10rem 0 #000,
    17rem 10rem 0 #000,
    18rem 10rem 0 #000,
    19rem 10rem 0 #000,
    20rem 10rem 0 #000,
    21rem 10rem 0 #000,
    22rem 10rem 0 #000,
    23rem 10rem 0 #000,
    24rem 10rem 0 #000,
    25rem 10rem 0 #000,
    26rem 10rem 0 #000,
    27rem 10rem 0 #000,
    28rem 10rem 0 #000,
    29rem 10rem 0 #dedbcc,
    /* row 11 */
    0rem 11rem 0 #dedbcc,
    1rem 11rem 0 #dedbcc,
    2rem 11rem 0 #000,
    3rem 11rem 0 #000,
    4rem 11rem 0 #000,
    5rem 11rem 0 #000,
    6rem 11rem 0 #000,
    7rem 11rem 0 #000,
    8rem 11rem 0 #000,
    9rem 11rem 0 #000,
    10rem 11rem 0 #000,
    11rem 11rem 0 #000,
    12rem 11rem 0 #000,
    13rem 11rem 0 #000,
    14rem 11rem 0 #000,
    15rem 11rem 0 #000,
    16rem 11rem 0 #000,
    17rem 11rem 0 #000,
    18rem 11rem 0 #000,
    19rem 11rem 0 #000,
    20rem 11rem 0 #000,
    21rem 11rem 0 #000,
    22rem 11rem 0 #000,
    23rem 11rem 0 #000,
    24rem 11rem 0 #000,
    25rem 11rem 0 #000,
    26rem 11rem 0 #000,
    27rem 11rem 0 #dedbcc,
    28rem 11rem 0 #dedbcc,
    /* row 12 */
    0rem 12rem 0 #0e1e35,
    1rem 12rem 0 #dedbcc,
    2rem 12rem 0 #dedbcc,
    3rem 12rem 0 #dedbcc,
    4rem 12rem 0 #dedbcc,
    5rem 12rem 0 #dedbcc,
    6rem 12rem 0 #dedbcc,
    7rem 12rem 0 #dedbcc,
    8rem 12rem 0 #dedbcc,
    9rem 12rem 0 #dedbcc,
    10rem 12rem 0 #dedbcc,
    11rem 12rem 0 #dedbcc,
    12rem 12rem 0 #dedbcc,
    13rem 12rem 0 #dedbcc,
    14rem 12rem 0 #dedbcc,
    15rem 12rem 0 #dedbcc,
    16rem 12rem 0 #dedbcc,
    17rem 12rem 0 #dedbcc,
    18rem 12rem 0 #dedbcc,
    19rem 12rem 0 #dedbcc,
    20rem 12rem 0 #dedbcc,
    21rem 12rem 0 #dedbcc,
    22rem 12rem 0 #dedbcc,
    23rem 12rem 0 #dedbcc,
    24rem 12rem 0 #dedbcc,
    25rem 12rem 0 #dedbcc,
    26rem 12rem 0 #dedbcc,
    27rem 12rem 0 #dedbcc,
    28rem 12rem 0 #0e1e35
}